.vscode
cache/
.idea/
node_modules/
package-lock.json
dist/
static/dist
*.log
*.map
/report
.DS_Store
.env
client/static/
.idea/*
*.dump
*.pyc
.mypy_cache
media
client/src/progressive-app/service-worker.js
